body {
	background-color:#ddd;
}

#wrapper { 
	width: 960px;
	margin: 20px auto;
	background-color: white;
}

#header {
	background-color: #333;
	color: white;
	padding: 20px;
}

#header a { 
	color: white; 
	text-decoration: none;
}

#header-navigation {
	list-style: none;
	margin: 0px 0px 0px 10px;
}

#header-navigation li:not(:first-child) {
	float: left;
	padding: 10px;
	margin: 10px;
}

#header-navigation li:first-child {
	float:left;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 0px;
}

#main {
	padding: 10px;
	float:left;
	width: 620px;
	background-image: url('single-grey-line.jpg');
	background-repeat: repeat-y;
	background-position: 638px 0;
}

#sidebar {
	float: left;
	padding: 10px;
	width: 300px;
}

/* Aux classes */
.shadow {
	-moz-box-shadow: 3px 3px 4px #ccc;
	-webkit-box-shadow: 3px 3px 4px #ccc;
	box-shadow: 3px 3px 4px #ccc;
}

/** Schedule CSS **/
#schedule-main {
	padding: 10px 10px;
}

#schedule-main table {
	width: 100%;
	font-size: 14px;
}

#schedule-main table td {
	padding: 10px;
}

#list-of-departments-wrapper {
	padding:10px 10px;
}

#list-of-departments {
	list-style: none;
}

#list-of-departments li {
	margin: 8px 0px;
}

.year-semester { 
	float: left;
	padding: 20px;
}

.year-semester h3 {
	text-align: center;
}

#active-year {
	color: red;
}

#active-semester {
	color: red;
}

.semesters { 
	list-style: none;
}

.semesters li {
	line-height: 40px;
	font-size:18px;
}

.error, .active {
	color:red;
}

.pending {
	color: #66A666;
}

.transcript { 
	color: blue;
}

#user-info {
	list-style: none;
	margin:10px 0 0 0;
}

#user-info li {
	padding:10px 0px;
	font-size:18px;
}

#user-bold-name {
	font-size:24px;
}

#manage-courses {
	padding: 10px;
}

hr {
	border-top: 1px solid #ccc;
}

#pending-course-list, #active-course-list {
	list-style: none;
}

#pending-course-list li, #active-course-list li {
	padding: 10px 0px;
	font-size: 18px;
}

#pending-course-list li a, #pending-course-list li span,
#active-course-list li a, #active-course-list li span {
	font-size: 14px;
}

.remove-course {
	color: red;
}

.remove-course:hover {
	color: #800000;
}

#manage-class {
	padding:10px;
}

#manage-class .single-student h4 { 
	margin:0px 0px 5px 0px;
	padding:0px
}

#manage-class .single-student .grade-submission { 
	width: 50px;
}

#transcript-wrapper {
	padding: 10px;
}

#manage-site-options {
	padding:10px;
}

#manage-students {
	padding: 15px;
}

#manage-students .course-addition {
	padding-top:3px;
}

.no-list-style {
	list-style:none;
}

.margin-minus-three {
	margin-top: -3px !important;
}

.buffer {
	padding: 10px;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}